table {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: calc(var(--glob-padding) / 1.5);
    top: calc(var(--glob-padding) * 4);
    border-spacing: var(--glob-padding);

    /* padding: var(--glob-padding); */
}

button {
    position: relative;

    min-width: calc(var(--toolbar-height) * 1.5);
    width: max-content;
    min-height: var(--toolbar-height);
    max-height: var(--toolbar-height);

    img {
        display: block;
        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    p {
        display: block;
        position: absolute;

        left: 0%;
        right: 0%;
        top: 0%;

        color: var(--font-color);
    }
}

/* button.dropdown-content {
    width: 100%;
} */

button.home {
    background-color: transparent;
}

button.tiny {
    display: block;
    position: absolute;
    width: 30px;
    margin: var(--glob-padding);

    background-color: var(--secondary-color);
}

button.menu {
    background-color: var(--secondary-color);

    width: 64px;
}

button:hover {
    filter: brightness(0.95);
}

button:active {
    filter: brightness(0.8);
}

div.container {
    background-color: var(--secondary-color);
    position: absolute;
    left: 0%;
    top: 0%;

    width: 100%;
    height: 100%;

    padding: var(--glob-padding);

    border-radius: var(--glob-border-radius);
}

div.left {
    display: block;
    position: absolute;
    left: var(--glob-padding);
    top: calc(var(--glob-padding) * 4 + var(--toolbar-height));

    --width: calc(
        50% + (var(--glob-padding) * 4) + (var(--canvas-css-width) / 2)
    );

    --height: calc(100% - var(--glob-padding) * 5 - var(--toolbar-height) * 2);

    right: var(--width);
    bottom: calc(var(--glob-padding) * 3);
}

div.right {
    display: block;
    position: absolute;
    right: calc(var(--glob-padding) * 3);
    top: calc(var(--glob-padding) * 4 + var(--toolbar-height));

    --width: calc(
        50% + (var(--glob-padding) * 2) + (var(--canvas-css-width) / 2)
    );

    left: var(--width);
    bottom: calc(var(--glob-padding) * 3);
}

div.dropdown {
    position: relative;
    display: inline-block;
}

div.dropdown-content {
    display: none;
    position: absolute;

    background-color: var(--primary-color);
    width: auto;
    padding: var(--glob-padding);
    border-radius: var(--glob-border-radius);
}

div.dropdown:hover div.dropdown-content {
    display: block;
}

div.toolbar {
    display: block;
    position: absolute;

    top: var(--glob-padding);
    left: var(--glob-padding);
    right: calc(0% + var(--glob-padding) * 3);
    height: var(--toolbar-height);
}

div.status {
    display: none;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: #00000075;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    font-size: 100px;
    
    color: #ffffff;
}

div.popup {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    border: var(--glob-padding) solid var(--primary-color);
    border-radius: var(--glob-border-radius);

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 25%;
    height: 75%;

    h2 {
        text-align: center;
    }

    button.exit {
        display: block;
        position: absolute;

        right: 0%;
        top: 0%;

        margin-right: var(--glob-padding);
        margin-top: var(--glob-padding);
        
        font-size: larger;

        scale: 80%;
    }

    table {
        left: 50%;
        padding-top: var(--glob-padding);
        transform: translate(-50%);
        width: 50%;
        
        justify-items: center;

        /* border: 2px solid black; */

        td {
            display: block;
        
            /* border: 2px solid black; */
            text-align: center;
        
            left: 0%;
            right: 0%;
        }
    }
}


p {
    color: var(--font-color);
}

button {
    color: var(--font-color);
}

div {
    color: var(--font-color);
}

canvas {
    background-color: var(--secondary-color);

    border-radius: var(--glob-border-radius);

    image-rendering: pixelated;
    /* image-rendering: crisp-edges; */
}

canvas.center {
    margin: auto;
    padding: 0%;
    position: absolute;
    display: block;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: var(--canvas-css-width);
    max-height: 80%;
}
