body {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
}

h1 {
    font-size: clamp(50px, 5vw, 100px);
    letter-spacing: 20px;
}

h3 {
    font-size: 25px;
}

h2 {
    font-size: 50px;
}

button {
    background-color: dodgerblue;
    border-color: cornflowerblue;
    width: 300px;
    height: 100px;

    font-size: 30px;

    transition-duration: 0.5s;
}

button:hover {
    transition-duration: 0.2s;

    background-color: cornflowerblue;

    border-width: 20px;
    border-style: solid;
    scale: 105%;
}

img.icon {
    width: 20%;
}