:root {
    --glob-padding: 10px;
    --glob-border-radius: 10px;
    --canvas-css-width: 50%;
    --canvas-width: 320px;
    --canvas-height: 240px;
    --canvas-aspect: calc(var(--canvas-width) / var(--canvas-height));
    --canvas-disp-height: calc(var(--canvas-css-width) * var(--canvas-aspect));
    --toolbar-height: 40px;

    --primary-color: #fafafa;
    --secondary-color: #e4e5f1;
    --tertiary-color: #d2d3db;
    --font-color: #484b6a;
}

body {
    background-color: var(--primary-color);

    font-family: Arial, Helvetica, sans-serif;
    color: white;

    color: var(--font-color);
}

button {
    border: none;
    width: 50px;
    padding: calc(var(--glob-padding) / 2);
    background-color: var(--primary-color);
    color: white;

    border-radius: var(--glob-border-radius);
}